

  </body>
<% var year = new Date().getFullYear() %>

  <!-- Copyright -->
  <footer class=" foot mt-auto">
    <p class="text-light text-center p-3 w-100 foot">Dejun Jackson © <%= year %> Copyright</p>
  </footer>
  <!-- Copyright -->



</html>
