<%-include('partials/header'); -%>
<h1>Frequently Asked Questions</h1>
<br>
<h2>Q1: Lorem ipsum dolor sit amet, consectetur adipiscing elit? </h2>
<p>A1: Curabitur interdum, velit eget sagittis luctus, velit neque faucibus odio, vel semper purus ante id ante.</p>
<br>
<h2>Q2: Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h2>
<p>A2: Curabitur interdum, velit eget sagittis luctus, velit neque faucibus odio, vel semper purus ante id ante.</p>
<br>
<h2>Q3: Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h2>
<p>A3: Curabitur interdum, velit eget sagittis luctus, velit neque faucibus odio, vel semper purus ante id ante.</p>
<br>
<h2>Q4: Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h2>
<p>A4: Curabitur interdum, velit eget sagittis luctus, velit neque faucibus odio, vel semper purus ante id ante.</p>
<br>
<h2>Q5: Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h2>
<p>A5: Curabitur interdum, velit eget sagittis luctus, velit neque faucibus odio, vel semper purus ante id ante.</p>





<%-include('partials/footer'); -%>
